@model TreinaWeb.TesteASPNETMVC.Web.Models.Pessoa
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<br />

@using (Html.BeginForm("Index", "Teste", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.LabelFor(p => p.Nome)
    <br />
    @Html.TextBoxFor(p => p.Nome, new { id = "txbNome" })
    @Html.ValidationMessageFor(p => p.Nome)
    <br />

    @Html.LabelFor(p => p.Idade)
    <br />
    @Html.EditorFor(p => p.Idade)
    @Html.ValidationMessageFor(p => p.Idade)
    <br />

    @Html.LabelFor(p => p.Endereco)
    <br />
    @Html.TextBoxFor(p => p.Endereco)
    @Html.ValidationMessageFor(p => p.Endereco)
    <br />

    @Html.LabelFor(p => p.Email)
    <br />
    @Html.TextBoxFor(p => p.Email)
    @Html.ValidationMessageFor(p => p.Email)
    <br />
    <input type="submit"
           value="Enviar" />
}


