@model TreinaWeb.TesteASPNETMVC.Web.Models.Pessoa
@{
    ViewBag.Title = "Saudacao";
}

<h2>Saudacao</h2>


<p>Olá, seja bem vindo @Model.Nome</p>
@Html.LabelFor(p => p.Idade) <br />
@Html.EditorFor(p => p.Idade)<br />
@Html.LabelFor(p => p.Endereco) <br />
@Html.TextBoxFor(p => p.Endereco)
